/*.App {
  text-align: center;
}*/
body{
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}
.movie-pic{
  
  height:350px;
  width:250px;
  object-fit: cover;
}
.movie-container{
  
  width:250px;
  border-radius: 10px;
  overflow: hidden;

}
.movie-specs
{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name{
  font-size: 24px;
  margin: 0px;
}
.rating
{
  font-size: 18px;
}
.movie-list{
  display:flex;
  gap:24px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.counter-container{
  display:flex;
  gap:10px;
}
.likes-dislikes{
  font-size: 20px;
  margin-top: 5px;
}
.movie-show-button{
  font-size: 18px;
  margin-bottom: 10px;
}
.add-color-form{
  margin: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 250px;
}
.add-movie-form{
  margin:20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  

}

ul{
  list-style-type:none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  
}
.nav-bar{
  background-color:skyblue;
  height: 50px;
  width:100%;

  
}